# .env
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=


KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=
SERVICE_CLIENT_ID=
SERVICE_CLIENT_SECRET=...
DATABASE_URL=sqlite:///./app.db
SECRET_KEY=...
DEBUG=True
MOCK_KEYCLOAK=False